* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1{

}

h2{

}

h3{
  color: black;
}

header {
  background-color: white;
  width: 100%;
}

.container-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: white;
  justify-content: space-between;
}

.logotype {
  font-size: 18px;
  margin: 0;
  padding: 0;
  background: red;
}

.logotype p{
  margin: 0;
}

.dropbtn {
    background-color: transparent;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: black;
}

.dropdown {
    display: flex;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 2000px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {color: blue}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: transparent;
    color: blue;
}

.list-nav {
  background-color: purple;
}

.nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: inline;
}

.nav li {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
}

.nav li a:hover {
}

.nav li a:active {
}

.nav li a:visited {
}

.hero {

}

.hero-image {
  /*background-image: url(https://static.pexels.com/photos/126407/pexels-photo-126407.jpeg);*/
  width: 100%;
  /*background-position: right;
  background-repeat: no-repeat;*/
  background-size: cover;


}

.hero-text {
  text-align: right;
  position: absolute;
  top: 15%;
  right: 15%;
}


main {
  max-width: 1025px;
  margin: auto;
}


.material-icons {
  padding-top: 10px;
}

#usp {
  padding: 10px;
  positioning: absolute;
}

.usp-column {
  width: 33%;
  float: left;
  padding: 10px;
  text-align: center;
}

.usp-card {
  background: #6ea6df;
  opacity: 0.6;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px grey;
}

section#features-section {
  width: 100%;
}

section#features-section .feature-block {
  padding: 0 20px;

}

section#features-section .feature-content-container {
  float: left;
  padding: 20px;
}

section#features-section .feature-image-container {
  width: 50%;

}

section#features-section .feature-image-container img {
  width: 100%;
  display: block;
  /*border-radius: 8px;*/
}

section#features-section .feature-text-container {
    width: 50%;
}

.footer-container {
  width: 100%;
  height: auto;
  bottom: 0;
  text-align: center;
}

.footer {
  background-color: navy;
  width: 33.3%;
  float: left;
  padding: 0;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
}

.list {
  column-count: 2;
  padding: 10px;
}

.list ul {
  padding: 0;
  list-style-type: none;
  display: list-item;
  margin: 0;
}

.list li {
  display: list-item;
  padding: 0;
}

.list a {
  color: white;
}

.copyright {
  width: 100%;
  background-color: navy;
  padding: 10px;
}

.copyright p {
  text-align: center;
  color: white;
}

.list li a:link,
.list li a:hover,
.list li a:active,
.list li a:active {
  text-decoration: none;
}

/*BREAKPOINTS:
mobile: <= 480px
tablet: > 480px and < = 960px
desktop: > 960px*/

@media (max-width: 480px) {
  .usp-column{
    width: 100%;
  }
}

@media (min-width: 961px) {
  .usp-column {
    width: 33%;
  }
}
