body {
  margin: 0;
  padding: 0;
}

h1{

}

h2{

}

h3{

}

.usp{
  box-sizing: border-box;
  width: 30%;
}

.usp-column{
  background: grey;
}

.usp-card{
  padding: 10px;

}

.feature-content {
  display: block;
}

/*this needs more work*/
.feature-image {
  max-width: 500px;
  border-radius: 8px;
  overflow: hidden;
  float: left;
  clear: left;
}

img.feature {
  width: 100%;
}
