* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  background: #c9ae83;
  color: rgba(0, 0, 0, 0.8);
  /*OLD BG COLOR NOT IN USE ANYMORE*/
  /*background: #f7f7f7;*/
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


h1, h2, h3, h4, {
    /*font-family: Lora, serif;*/
    font-family: 'Raleway', sans-serif;

}

h3, .fa-arrow-down {
    font-family: Lora, serif;
    color: white;
    font-weight: bold;
}

header {
  width: 100%;
}

nav {
  width: 100%;
  height: 70px;
  background: #ac874b;
  margin: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
}


.nav-container {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: auto;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;

}
nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 25px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: white;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 0.04em;
}

nav ul li a:hover {
  color: black;
  text-decoration: none;
}

nav ul li:hover > a {
  color: black;
}

.logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  color: white;
  display: inline;
}

#nav:checked + .nav-open {
  transform: rotate(45deg);
}

#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}

/*START OF HERO*/

.hero-image {
  width: 100%;
  background-size: cover;

}

/*.material-icons {
  padding-top: 5%;
}*/

.usp a {
  text-decoration: none;
}

.usp-column {
  display: flex;
  justify-content: space-between;
}

.usp-card {
  width: 300px;
  height: 170px;
  background: #965840;
  opacity: 1;
  box-shadow: 4px 4px 0 rgba(125, 125, 125, 0.65);
  text-align: center;
}

/*START OF FEATURE SECTION*/

section#features-section {
  width: 100%;
}

section#features-section h2 {
  font-size: 2.2em;
  font-family: Lora, serif;
}

section#features-section p {
  font-size: 1.2em;
  line-height: 1.4em;
}

section#features-section .feature-block {
  width: 100%;
  padding: 0 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

section#features-section .feature-text {
  width: 35%;
  padding: 1% 3% 3% 3%;
  margin: 6% 0;
}

section#features-section .feature-image {
  width: 45%;
  height: 500px;
  margin: 6% 0;
  background-repeat: no-repeat;
}

section#features-section .feature-btn-wrap {
  margin: 40px 0 20px 0;
}

section#features-section .feature-btn {
  background: #ac874b;
  color: #ffffff;
  box-shadow: 2px 3px 0 #d4d4d4;
  font-size: 1.2em;
  text-decoration: none;
  padding: 15px 20px;
  margin: 20px 0;
}

section#features-section .feature-btn:hover {
  background: rgba(172, 135, 75, 0.84);
}

/*FEATURE BTN VARIANT SPECIFIC*/

section#features-section .feature-btn-variant {
  background: #fdfdfd;
  color: rgba(0, 0, 0, 0.8);
}

section#features-section .feature-btn-variant:hover {
  background: rgba(253, 253, 253, 0.9);
}

/*FEATURE-1 SPECIFIC*/

div.feature-block#feature-1 {
  background: #772525;
}

div.feature-block#feature-1 div {
  box-shadow: 4px 4px 0 #652828;
}

div.feature-block#feature-1 .feature-text {
    background: #fdfdfd;
}

div.feature-block#feature-1 .feature-image {
  background-image: url(http://www.cameralink.com/uploads/picture/file/78521/felixodell-lifestyle-f21f9264_w2880.jpg);
  background-size: 170% auto;
  background-position: -240px -80px;
}

/*FEATURE 2 SPECIFIC*/

div.feature-block#feature-2 {
  background: #fdfdfd;
}

div.feature-block#feature-2 div {
  box-shadow: 4px 4px 0 #d4d4d4;
}

div.feature-block#feature-2 .feature-text  {
    background: #ac874b;
}

div.feature-block#feature-2 .feature-text h2,
div.feature-block#feature-2 .feature-text p {
    color: #ffffff;
}

div.feature-block#feature-2 .feature-image {
  background-image: url(https://cdn.pixabay.com/photo/2016/10/14/18/21/tee-1740871_960_720.jpg);
  background-size: auto 100%;
  background-position: -275px 0;
}

/*FEATURE 3 SPECIFIC*/

div.feature-block#feature-3 {
  background-image: url(http://sylvie.se/wp-content/uploads/2017/08/mateus-7.jpg);
  background-size: cover;
  justify-content: center;
}

div.feature-block#feature-3 h2 {
  font-size: 2.4em;
}

div.feature-block#feature-3 div {
  box-shadow: 4px 4px 0 rgba(85, 85, 85, 0.65);
}

div.feature-block#feature-3 .feature-text {
  background: #fdfdfd;
  width: 50%;
}

/*div.feature-block#feature-3 {
background: #276753
}*/

/*END OF FEATURE SECTION*/

.footer-outer {
  width: 100%;
  text-align: center;
  background-color: #ac874b;
  border-top: 4px solid #c9ae83;
}

.footer-container {
  width: 80%;
  height: 200px;
  bottom: 0;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer {
  width: 20%;
  color: white;
  text-align: left;
  background-color: #ac874b;
}

.footer h4 {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list {
  height: 100px;
}

.list ul {
  padding: 0;
  list-style-type: none;
  display: list-item;
  margin: 0;
}

.list li {
  display: list-item;
}

.list a {
  color: white;
}

.social {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.social i {
  font-size: 180%;
}

.social a, .copyright i {
  padding-right: 10px;
}

.sign-up input, .sign-up button {
  margin-top: 10px;
}

.sign-up input {
  border-style: outset;
  border: none;
  background-color: #c9ae83;
  padding: 7px 15px;
}

.sign-up button {
  background-color: #c9ae83;
  border: none;
  border-radius: 0;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.copyright {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
  color: white;
  font-family: Cabin;
}

.copyright span {
  text-align: center;
  padding: 0;
  margin: 0;
}

.list li a:link,
.list li a:hover,
.list li a:active,
.list li a:active {
  text-decoration: none;
}

/*BREAKPOINTS:
mobile: <= 480px
tablet: > 480px and < = 960px
desktop: > 960px*/

/*IF TABLET*/
@media (min-width: 481px) and (max-width: 960px) {
  .usp {
    margin-top: -45px;
    margin-bottom: 5%;
    width: 100%;
    height: auto;
  }

  .usp-column {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .usp-card {
    width: 100%;
    margin-bottom: 5%;
    padding: 12%;
  }

  .card1 {
    margin-left: 3%;
  }

  .card2 {
    margin: 0% 5% 0% 5%;
  }

  .card3 {
    margin-right: 3%;
  }

  div.feature-block#feature-1 .feature-image {
    background-size: 100% auto;
    background-position: 0 0;
  }

  div.feature-block#feature-2 .feature-image {
    background-size: auto;
    background-position: right;
  }

}

/*[FEATURES] EVERYTHING LESS THAN 1220px*/
@media (max-width: 1220px) {
 section#features-section .feature-image {
   height: 380px;
 }
 div.feature-block#feature-2 .feature-image {
   background-position: -140px 0;
 }
}

/*IF DESKTOP*/
@media (min-width: 961px) {

  .hero {
    width: 100%;
    height: auto;
  }

  .usp {
    margin-top: -70px;
    margin-bottom: 5%;
    width: 100%;
  }

  .usp-column {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .usp-card {
    width: 100%;
    margin-bottom: 5%;
    padding: 15%;
  }

  .card1 {
    margin-left: 3%;
  }

  .card2 {
    margin: 0% 7% 0% 7%;
  }

  .card3 {
    margin-right: 3%;
  }

  /*switching the order for image/text for odd feature blocks*/
  section#features-section .feature-block:nth-child(odd) {
    flex-direction: row-reverse;
  }

}

/*IF MOBILE OR TABLET*/
@media (max-width: 960px) {
  section#features-section .feature-text {
    margin: 3% 0 6% 0;
    width: 80%;
  }
  section#features-section .feature-image {
    height: 300px;
    width: 80%;
    margin: 6% 0 3% 0;
  }
  div.feature-block#feature-3 .feature-text {
    margin: 6% 0 6% 0;
    width: 60%;
  }
  div.feature-block#feature-1 .feature-image {
    background-size: cover;
    background-position: 0 0;
  }
  div.feature-block#feature-2 .feature-image {
    background-size: cover;
    background-position: 0 0;
  }
}

/*IF SCREEN IS LESS THAN 800px*/
@media (max-width: 800px) {
  div.feature-block#feature-1 .feature-image {
    background-size: cover;
  }
  div.feature-block#feature-3 .feature-text {
    width: 80%;
}

/*IF SCREEN IS LESS THAN 775px*/
@media (max-width: 775px) {
  /*div.feature-block#feature-1 .feature-image {
    background-size: auto 100%;
  }*/
  div.feature-block#feature-3 .feature-text {
    width: 80%;
}
/*@media screen and (max-width: 760px) {*/
/*NAVIGATION ON TABLET OR MOBILE*/
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #ac874b;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }

  .footer-container {
    flex-flow: column;
    height: auto;
  }
  .footer {
    width: 100%;
    text-align: center;
  }

  .social {
    justify-content: center;
  }

  .copyright {
    width: 100%;
    margin-top: 50px;
  }
}

/*IF MOBILE*/
@media (max-width: 480px) {

  .hero {
    width: 100%;
    height: auto;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .usp {
    margin-top: -35px;
    margin-bottom: 5%;
    width: 100%;
  }

  .usp-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap:
  }

  .usp-card {
    width: 100%;
    margin-bottom: 5%;
    padding: 12%;
  }

  .card1, .card2, .card3 {
    margin: 0% 2% 2% 2%;
  }

  section#features-section .feature-text {
    width: 97%;
    margin: 5% 0 10% 0;
    padding: 2% 6% 7% 6%;
  }

  section#features-section .feature-image {
    width: 97%;
    margin: 10% 0 5% 0;
  }

  div.feature-block#feature-2 .feature-image {
    background-position: -88px 0;
  }

  div.feature-block#feature-3 .feature-text {
    width: 97%;
    margin: 10% 0 10% 0;
  }
