* {
  box-sizing: border-box;
}

html {
  font-family: Raleway, sans-serif;
  font-size: 15px;
  background: #f7f7f7;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1, h2, h3, h4, .dropdown{
    /*font-family: Lora, serif;*/
    font-family: Raleway, sans-serif;
    color: black;
}


header {
  width: 100%;
}

.container-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  background-color: #ac874b;
  font-size: 20px;
  color: white;
}

.logo {
  justify-content: space-between;
  margin: auto;
}

.logotype {
  font-size: 2vw;
  margin: 0;
  padding: 0;
  width: 20%;
  font-family: 'Cabin', sans-serif;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.1vw;

}


.dropdown {
  width: 80%;
}

nav {
  text-align:center;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 60px;
  position:relative;
}

nav ul {
  list-style:none;
  padding:0 20px;
  margin: 0;
  height: 60px;
}


nav ul li {
  display: inline-block;
}


nav ul li a {
  display:block;
  padding:0px 40px;
  text-decoration:none;
  float: left;
  height: 60px;
  line-height: 60px;
  color: white;
}

nav ul li:hover {
  /*background-color: #ac874b;*/
  color: black;
}


nav ul li:hover > a{
    color: black;
}

nav ul li:hover > ul {
  display:block;
}

nav ul ul {
  background-color: #c9ae83;
  color: black;
  padding:0;
  text-align: center;
  display:none;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
}

.arrow {
  margin: 5px;
  font-size: 14px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.hero-image {
  width: 100%;
  background-size: cover;
}

.material-icons {
  padding-top: 5%;
}

.usp-column {
  display: flex;
  justify-content: space-between;
}

.card1, .card2, .card3 {

}
.usp-card {
  /*height: 160px;
  width: 260px;*/
  width: 300px;
  height: 170px;
  background: #965840;
  opacity: 1;
  padding: 3%;
  border-radius: 5px;
  box-shadow: 2px 2px 10px grey;
  /*margin: 20px;*/
  text-align: center;
  flex: auto;
}

/*.material-icons {
  padding-top: 10px;
}*/

/*NOT IN USE ANYMORE -- TO BE DELETED?*/
/*main {
  max-width: 1025px;
  margin: auto;
}*/

/*FEATURE SECTION*/

section#features-section {
  width: 100%;
}

section#features-section h2 {
  font-size: 2.2em;
}

section#features-section p {
  font-size: 1.2em;
  line-height: 1.4em;
}

section#features-section .feature-block {
  width: 100%;
  padding: 6% 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /*background-size: cover;*/
}

section#features-section .feature-text {
  width: 35%;
  padding: 1% 3% 3% 3%;
}

/*FEATURE-1 SPECIFIC*/

div.feature-block#feature-1 {
  background: #772525;
  /*background-image: url(http://www.cameralink.com/uploads/picture/file/78521/felixodell-lifestyle-f21f9264_w2880.jpg);
  background-size: 140% auto;
  background-position: 0 -200px;*/
}

div.feature-block#feature-1 div {
  box-shadow: 4px 4px 0 #652828;
}

div.feature-block#feature-1 .feature-text {
    background: #fdfdfd;
}

div.feature-block#feature-1 .feature-image {
  width: 45%;
  height: 500px;
  background-image: url(http://www.cameralink.com/uploads/picture/file/78521/felixodell-lifestyle-f21f9264_w2880.jpg);
  background-size: 170% auto;
  background-position: -240px -80px;
  margin: 10px 0;
}

/*FEATURE 2 SPECIFIC*/

div.feature-block#feature-2 {
  background: #fdfdfd;
}

div.feature-block#feature-2 div {
  box-shadow: -4px 4px 0 rgba(172, 135, 75, 0.50);
}

div.feature-block#feature-2 .feature-text  {
    background: #ac874b;
}

div.feature-block#feature-2 .feature-text h2, p {
    color: #ffffff;
}

div.feature-block#feature-2 .feature-image {
  width: 45%;
  height: 500px;
  background-image: url(http://www.cameralink.com/uploads/picture/file/78521/felixodell-lifestyle-f21f9264_w2880.jpg);
  background-size: 170% auto;
  background-position: -240px -80px;
  margin: 10px 0;
}

/*FEATURE 3 SPECIFIC*/

div.feature-block#feature-3 {
background: #276753
}

.footer-outer {
  width: 100%;
  text-align: center;
  background-color: #ac874b;
  border-top: 4px solid #c9ae83;
}

.footer-container {
  width: 80%;
  height: 200px;
  bottom: 0;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer {
  width: 20%;
  color: white;
  text-align: left;
  background-color: #ac874b;
}

.footer h3 {
  color: white;
  font-size: 150%;
}

.list {
  height: 100px;
}

.list ul {
  padding: 0;
  list-style-type: none;
  display: list-item;
  margin: 0;
}

.list li {
  display: list-item;
}

.list a {
  color: white;
}

.social {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.social i {
  font-size: 200%;
}

.social a, .copyright i {
  padding-right: 10px;
}

.sign-up input, .sign-up button {
  margin-top: 10px;
}

.copyright {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
  color: white;
  font-family: Cabin;
}

.copyright span {
  text-align: center;
  padding: 0;
  margin: 0;
}

.list li a:link,
.list li a:hover,
.list li a:active,
.list li a:active {
  text-decoration: none;
}


/*BREAKPOINTS:
mobile: <= 480px
tablet: > 480px and < = 960px
desktop: > 960px*/


/*IF MOBILE*/
@media (max-width: 480px) {
  .usp {
    margin-top: -35px;
    margin-bottom: 20px;
    width: 100%;
  }

  .usp-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap:

  }

  /*.usp-column{
    flex-wrap: wrap;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .usp {
    margin-top: -35px;
  }
  .footer-container {
    flex-flow: column nowrap;
  }

  .usp-card {
    /*height: 140px;*/
    /*width: auto;
    margin: 10px 30px 10px 30px;
    }*/

}

@media (min-width: 480px) and (max-width: 960px) {
  .usp {
    margin-top: -45px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }

  .usp-column {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .usp-card {
    width: 100%;
    margin-bottom: 5%;
    padding: 5%;
  }

  .card1 {
    margin-left: 3%;
  }

  .card2 {
    margin: 0% 5% 0% 5%;
  }

  .card3 {
    margin-right: 3%;
  }
    /*.usp-column{
    flex-wrap: nowrap;
    width: 100%;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .usp-card {
    width: auto;
    margin-bottom: 25px;
  }*/



  section#features-section .feature-image {
    width: 100%;
  }
  section#features-section .feature-text {
    width: 100%;
  }
}

/*IF TABLET OR DESKTOP*/
@media (min-width: 481px) {
  /*switching the order for image/text for even feature blocks*/
  section#features-section .feature-block:nth-child(even) {
    flex-direction: row-reverse;
  }
}

/*IF DESKTOP*/
@media (min-width: 961px) {
  .hero-image {
    width: 100%;
    height: auto;
  }

  .usp {
    margin-top: -70px;
    margin-bottom: 30px;
    width: 100%;
  }

  .usp-column {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .usp-card {
    width: 100%;
    margin-bottom: 5%;
    padding: 15%;
  }

  .card1 {
    margin-left: 3%;
  }

  .card2 {
    margin: 0% 7% 0% 7%;
  }

  .card3 {
    margin-right: 3%;
  }

}
