* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1{

}

h2{

}

h3{
  color: black;
}

header {
  background-color: blue;
  width: 100%;
  overflow: auto;
}

.logotype {
  width: auto;
  background-color: red;
  float:left;
  display:inline;
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 60px;
}

nav {
  float:right;
  display:inline;
  width: 300px;
  padding: 0px;
  margin: 0px;
  height: 60px;
  width: 100%;
  height: auto;
  padding: 20px;
  position: fixed;
}

.logotype {
  float:left;
  display:inline;
  font-size: 20px;
  margin: 0 0 0 10px;
  height: auto;
  /*background-color: red;*/
}

.logotype p{
  margin: 0;
}

.dropdown {
    position: relative;
    display: inline;
}

p.dropbtn{
  width: 10px;;


}
.dropbtn {
    /*background-color: black;*/
    color: black;
    padding: 0px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-weight: normal;
    margin: auto;
    width: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
}

nav {
  padding: 0px;
  margin: 0px;
  text-align: right;
  background-color: blue;
  width: 100%;
  height: auto;
}

nav p {
  margin: 0;
  padding: 0;

}

.list-nav {

}

.nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background: purple;
  display: inline;
}

.nav li {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
}

.nav li a:hover {
}

.nav li a:active {
}

.nav li a:visited {
}

.hero {
  position: relative;
}

.hero-image {
  /*background-image: url(https://static.pexels.com/photos/126407/pexels-photo-126407.jpeg);*/
  width: 100%;
  /*background-position: right;
  background-repeat: no-repeat;*/
  background-size: cover;
}

.hero-text {
  text-align: right;
  position: absolute;
  top: 15%;
  right: 15%;

}


main {
  max-width: 1025px;
  margin: auto;
}


.material-icons {
  padding-top: 10px;
}

#usp {
  padding: 10px;
  positioning: absolute;
}

.usp-column {
  width: 33%;
  float: left;
  padding: 10px;
  text-align: center;
}

.usp-card {
  background: #6ea6df;
  opacity: 0.6;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px grey;
}

section#features-section {
  width: 100%;
}

section#features-section .feature-block {
  padding: 0 20px;

}

section#features-section .feature-content-container {
  float: left;
  padding: 20px;
}

section#features-section .feature-image-container {
  width: 50%;

}

 section#features-section .feature-image-container img {
  width: 100%;
  display: block;
  /*border-radius: 8px;*/
}

section#features-section .feature-text-container {
    width: 50%;
}

.footer-container {
  width: 100%;
  height: auto;
  bottom: 0;
  text-align: center;
}

.footer {
  background-color: navy;
  width: 33.3%;
  float: left;
  padding: 0;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
}

.list {
  column-count: 2;
  padding: 10px;
}

.list ul {
  padding: 0;
  list-style-type: none;
  display: list-item;
  margin: 0;
}

.list li {
  display: list-item;
  padding: 0;
}

.list a {
  color: white;
}

.copyright {
  width: 100%;
  background-color: navy;
  padding: 10px;
}

.copyright p {
  text-align: center;
  color: white;
}

.list li a:link,
.list li a:hover,
.list li a:active,
.list li a:active {
  text-decoration: none;
}

/*BREAKPOINTS:
mobile: <= 480px
tablet: > 480px and < = 960px
desktop: > 960px*/

@media (max-width: 480px) {
  .usp-column{
    width: 100%;
  }
}

@media (min-width: 961px) {
  .usp-column {
    width: 33%;
  }
}
