* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

h1{

}

h2{

}

h3{
  color: black;
}

header {
  background-color: blue;
  width: 100%;
  height: 60px;
}

.logotype {
  width: 150px;
  background-color: red;
  float:left;
  display:inline;
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 60px;
}

nav {
  background-color: green;
  float:right;
  display:inline;
  width: 300px;
  padding: 0px;
  margin: 0px;
  height: 60px;
}

.nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.nav li {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
}

.nav li a:hover {
}

.nav li a:active {
}

.nav li a:visited {
}

.hero-image {
  width: 100%;
}

main {
  max-width: 1440px;
}

.material-icons {
  padding-top: 10px;
}

#usp {
  padding: 10px;
}

.usp-column {
  width: 33%;
  float: left;
  padding: 10px;
  text-align: center;
}

.usp-card {
  background: #6ea6df;
  opacity: 0.6;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px grey;
}

section#features {
  width: 100%;
}

section#features.image-container {
  float: left;
}

/*.feature-image-container {
  max-width: 500px;
}*/

.feature img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .usp-column{
    width: 100%;
  }
}

@media (min-width: 767px) {
  .usp-column {
    width: 33%;
  }
}

.footer-container {
  width: 100%;
  height: auto;
  bottom: 0;
  background-color: navy;
}

.footer {
  width: 33.3%;
  float: left;
  padding: 20px;
  border: 2px solid white;
  color: white;
  text-align: left;
}

.footer span {
  text-transform: uppercase;
}

.list {
  column-count: 2;
  list-style-type: none;
  padding: 0;
  display: list-item;
}

.list ul {
  padding: 0;
  list-style-type: none;
  float: left;
  display: inline-block;
}

.list li {
  display: list-item;
}

.list a {
  color: white;
}
