html {
  font-family: sans-serif;
}

header {
  background-color: blue;
  width: 100%;
  height: 60px;
}

.logotype {
  width: 150px;
  background-color: red;
  float:left;
  display:inline;
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 60px;
}

nav {
  background-color: green;
  float:right;
  display:inline;
  width: 300px;
  padding: 0px;
  margin: 0px;
  height: 60px;
}

.nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.nav li {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
}

.nav li a:hover {
}

.nav li a:active {
}

.nav li a:visited {
}

.hero-image {
  width: 100%;
}
