* {
  box-sizing: border-box;
}

html {
  font-family: Raleway, sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1, h2, h3, h4, .dropdown{
    font-family: Lora, serif;
    color: black

}


header {
  width: 100%;
}

.container-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  background-color: #ac874b;
  font-size: 20px;
  color: white;
}

.logo {
  justify-content: space-between;
  margin: auto;
}

.logotype {
  font-size: 30px;
  margin: 0;
  padding: 0;
  width: 20%;
  font-family: Lobster Two;
  display: flex;
}


.dropdown {
  width: 80%;
}

nav {
  text-align:center;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 60px;
  position:relative;
}

nav ul {
  list-style:none;
  padding:0 20px;
  margin: 0;
  height: 60px;
}


nav ul li {
  display: inline-block;
}


nav ul li a {
  display:block;
  padding:0px 40px;
  text-decoration:none;
  float: left;
  height: 60px;
  line-height: 60px;
  color: white;
}

nav ul li:hover {
  background-color: #ac874b;
  opacity: 0.8;
  color: black;
}


nav ul li:hover > a{
    color: Navy;
}

nav ul li:hover > ul {
  display:block;
}

nav ul ul {
  background-color: #ac874b;
  color: black;
  padding:0;
  text-align: center;
  display:none;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
}

.hero-image {
  width: 100%;
  background-size: cover;
}

.material-icons {
  padding-top: 10px;
}

.usp {
  margin-top: -70px;
}

.usp-column {
  display: flex;
  justify-content: center;
}

.usp-card {
  height: 160px;
  width: 260px;
  background: #6ea6df;
  opacity: 1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px grey;
  margin: 20px;
  text-align: center;
  flex: auto;
}

.material-icons {
  padding-top: 10px;
}

main {
  max-width: 1025px;
  margin: auto;
}

section#features-section {
  width: 100%;
}

section#features-section .feature-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

section#features-section .feature-image {
  width: 50%;
}

section#features-section .feature-text {
  width: 50%;
}

 section#features-section .feature-image-container img {
 }

section#features-section .feature-image img {
  width: 100%;
}

#feature-1 {
  background: #772525;
}

#feature-2 {
background: #cfb59b;
}

#feature-3 {
background: #276753
}

.footer-container {
  width: 100%;
  height: auto;
  bottom: 0;
  text-align: center;
}

.footer {
  background-color: #ac874b;
  width: 33.3%;
  float: left;
  padding: 0;
  border: 2px solid white;
  color: white;
}

.footer h4 {
  color: white;
}

.list {
  column-count: 2;
  padding: 10px;
}

.list ul {
  padding: 0;
  list-style-type: none;
  display: list-item;
  margin: 0;
}

.list li {
  display: list-item;
  padding: 0;
}

.list a {
  color: white;
}

.copyright {
  width: 100%;
  background-color: #ac874b;
  padding: 10px;
}

.copyright p {
  text-align: center;
  color: white;
}

.list li a:link,
.list li a:hover,
.list li a:active,
.list li a:active {
  text-decoration: none;
}


/*BREAKPOINTS:
mobile: <= 480px
tablet: > 480px and < = 960px
desktop: > 960px*/


/*IF MOBILE*/
@media (max-width: 480px) {
  .usp-column{
    flex-wrap: wrap;
  }
}

@media (min-width: 480px) and (max-width: 960px) {
  .usp-column{
    flex-wrap: nowrap;
  }
  section#features-section .feature-image {
    width: 100%;
  }
  section#features-section .feature-text {
    width: 100%;
  }
}

/*IF TABLET OR DESKTOP*/
@media (min-width: 481px) {
  /*switching the order for image/text for even feature blocks*/
  section#features-section .feature-block:nth-child(even) {
    flex-direction: row-reverse;
  }
}

/*IF DESKTOP*/
@media (min-width: 961px) {
  .usp-column {
      flex-wrap: nowrap;
  }
}
