*{
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1{

}

h2{

}

h3{
  color: black;
}

.material-icons{
  align-content: center;
}

.usp{
  box-sizing: border-box;
}

.usp-column{
  padding: 10px;
  width: 33%;
  float: left;
}

.usp-card{
  background: #6ea6df;
  opacity: 0.6;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px grey;
}

.feature-content {
  display: block;
}

/*this needs more work*/
.feature-image {
  max-width: 500px;
  border-radius: 8px;
  overflow: hidden;
  float: left;
  clear: left;
}

img.feature {
  width: 100%;
}

@media (max-width: 767px) {
  .usp-column{
    width: 100%;
}
}

@media (min-width: 767px) {
  .usp-column {
    width: 33%;
  }
}
