* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1{

}

h2{

}

h3{
  color: black;
}

header {
  width: 100%;
  height: auto;
  background-color: yellow;
  padding: 20px;
}

.logotype {
  float:left;
  display:inline;
  font-size: 18px;
  margin: 0 0 0 10px;
}

.logotype p{
  margin: 0;
}

nav {
  padding: 0px;
  margin: 0px;
  text-align: right;
}

nav p {
  margin: 0;
  padding: 0;
}

.nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.nav li {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
}

.nav li a:hover {
}

.nav li a:active {
}

.nav li a:visited {
}

.hero-image {
  width: 100%;
}

main {
  max-width: 1440px;
  margin: auto;
}

.material-icons {
  padding-top: 10px;
}

#usp {
  padding: 10px;
}

.usp-column {
  width: 33%;
  float: left;
  padding: 10px;
  text-align: center;
}

.usp-card {
  background: #6ea6df;
  opacity: 0.6;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px grey;
}

section#features-section {
  width: 100%;
}

section#features-section .feature-block {
  padding: 0 20px;
}

section#features-section .feature-content-container {
  float: left;
  padding: 20px;
}

section#features-section .feature-image-container {
  width: 40%;
}

 section#features-section .feature-image-container img {
  width: 100%;
  display: block;
  /*border-radius: 8px;*/
}

section#features-section .feature-text-container {
    width: 60%;
}

@media (max-width: 767px) {
  .usp-column{
    width: 100%;
  }
}

@media (min-width: 767px) {
  .usp-column {
    width: 33%;
  }
}

.footer-container {
  width: 100%;
  height: auto;
  bottom: 0;
}

.footer {
  background-color: navy;
  width: 33.3%;
  float: left;
  padding: 20px;
  border: 2px solid white;
  color: white;
  text-align: left;
}

.footer h4 {
  text-transform: uppercase;
  text-align: center;
}

.list {
  column-count: 2;
  list-style-type: none;
  padding: 0;
  display: list-item;
}

.list ul {
  padding: 0;
  list-style-type: none;
  float: left;
  display: inline-block;
}

.list li {
  display: list-item;
  padding: 0;
}

.list a {
  color: white;
}
